<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <br><br>
      <ion-card-header>
          <ion-card-title>Tramites Ya! Es una aplicación móvil que orienta a los 
            usuarios a solicitar documentos en línea de manera fácil y clara.  </ion-card-title>
      </ion-card-header>
      <br><br>
      <ion-card-header>
          <ion-card-title>Si desea comunicarse con los desarrolladores 
            escribanos a systemwork@Gmail.com            </ion-card-title>
      </ion-card-header>
      <br><br><br>

      <ion-card-header>
          <ion-button color="dark" href="https://www.gmail.com/">
           
              <ion-icon name="link"> </ion-icon> <pre> Enviar Comentario</pre> 
      </ion-button>
      </ion-card-header>

   
      <br>
      <br>
    </ion-card>
  
  </ion-content>